$red: rgba(194, 35, 40, 0.992);
$reddark: rgb(244, 13, 21);
$dark: rgb(11, 0, 0);
$lightdark: rgba(58, 49, 49, 0.711);
$pink: rgba(205, 46, 165, 0.353);
$black: rgba(17, 14, 14, 0.787);
$yellowIsh: rgb(245, 241, 10);
